<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}API Password Generator{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}API Password Generator{% endblock %}"/>
        <link rel="icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="{{ asset('js/app.js') }}"></script>
</html>
