{% extends 'base.html.twig' %}

{% block title %}404: Page introuvable !{% endblock %}
{% block description %}Page 404{% endblock %}

{% block body %}
<div class="error">
    <h1>404</h1>
    <p class="origin">La légende attribue le numéro d'erreur « 404 » à l'anecdote selon laquelle « au CERN, en Suisse, 
    les chercheurs, excédés d'aller sans cesse relancer un serveur défaillant installé dans le bureau n° 404, 
    aient attribué ce numéro d'erreur au défaut de connexion, en souvenir de cette pièce maudite.</p>
    <a class="back" href="/">Retour</a>
</div>
{% endblock %}